@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    background: url(background_iletisim.jpg);
}
.harita {
    border-radius: 20px;
    background-color: aliceblue;
    width: 1400px;
    height: 800px;
    margin-right: auto;
    margin-left: 250px;
    transition: 1s;
}
.harita iframe{
    border-radius: 20px;
    background-color: aliceblue;
    width: 1300px;
    height: 700px;
    margin-right: auto;
    margin-left: 50px;
    margin-top: 50px;
    transition: 1s;
}
.harita:hover{
    box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
    background-color: rgba(34, 34, 34, 0.637);
}
.harita iframe:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.iletisim h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(196, 196, 196);
}
.iletisim p{
    text-align: left;
    font-size: 25px;
    float: center;
    margin-left: 700px;
    font-family: 'Montserrat', sans-serif;
}
.iletisim p:hover{
    text-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom: 20px;
}
.iletisim img{
    height: 23px;
    margin-top: 5px;
}
.baslik p{
    position: relative;      
    top: -175px;

    text-align: center;
    color: #d6d6d6;
    font-size: 10px;
    text-shadow: rgba(197, 197, 197, 0.541) 1px 5px 5px;
    letter-spacing: 10px;
    line-height: 10px;
    /*font settings*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w0aXpsog.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}



footer{
    position: absolute;
    border-radius: 40px;
    bottom: -1700;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 99.1vw;
    font-family: 'Lato', sans-serif;
    padding-top: 40px;
    color: #fff;

    transition: 1s;
}
footer:hover{
    box-shadow: rgb(0, 0, 0) 0px 5px 180px 30px;
    border-radius: 10px;
    width: auto;
    background-color: rgb(32, 32, 32);
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 15px;
}
.socials a{
    text-decoration: none;
    color: rgb(155, 155, 155);
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(0, 255, 213);
}

.footer-bottom{
    background: #000;
    width: 99.1vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

